@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Jersey+10&display=swap');

/* Código para estilização da fonte não pixelada da pagina (Usar nos textos que não são pixelados) */
.belleza-regular {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Código para estilização da fonte pixelada da pagina (Usar nos textos que são pixelados) */
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div{
    display: flex;
    justify-content: center;
}

article{
    display: flex;
    align-items: center;
    max-width: 85%;
    flex-direction: column;
}

.title{
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 5vh;
    width: 100%;
    background-color: #066172;
    padding: 20px;
    border-radius: 40px;
    color: aliceblue;
}

.content{
    border: solid #066172; 
    border-top: none;
    max-width: 90%;
    color: #066172;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8vh;
}

p{
    font-size: 4vh;
}

.sintax{
    background-color: rgba(53, 53, 53, 0.751);
    max-width: 50%;
    font-size: 4vh;
    color: aliceblue;
    padding: 20px;
}

.classList{
    font-size: 4vh;
}

.acessExercises{
    text-align: center;
    text-decoration: none;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
    color: white;
    background-color: #006973;
    border-radius: 30px;
    padding: 1vh;
}