@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Jersey+10&display=swap');

/* Código para estilização da fonte não pixelada da pagina (Usar nos textos que não são pixelados) */
.belleza-regular {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Código para estilização da fonte pixelada da pagina (Usar nos textos que são pixelados) */
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    display: flex;
    justify-content: space-between;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 5vh;
    width: 100%;
    background-color: #066172;
    padding: 20px;
    border-radius: 40px;
    color: aliceblue;
}

.titleSimple{
    font-size: 8vh;
    margin-bottom: 5vh;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px solid #066172;
    text-align: center;
    color: #066172;
}

.content{
    border: solid #066172; 
    border-top: none;
    max-width: 90%;
    color: #066172;
    padding-left: 20px;
    padding-right: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li a.ativo {
    position: relative;
}

.menu ul li a.ativo::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #00646b;
    border-radius: 2px;
}

.logo {
    width: 150px;
}

.caixa {
    padding-left: 40px;
    padding-right: 40px;
}

.accordion {
    margin-bottom: 20px;
}

hr{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.accordion-botao {
    display: flex;
    background-color: #00646b;
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-size: 3vh;
    font-weight: bold;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.subtitulo {
    font-size: 16px;
    font-weight: normal;
}

.botao {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.seta {
    color: white; /*esse color não é necessário, mas deixei aí porque sim*/
    width: 30px;
    height: 30px;
    background: url(../img/seta.png) no-repeat center center; /*aqui é a seta que eu não soube fazer*/
    background-size: contain;
    transition: transform 0.3s ease;
}

.seta.girada {
    transform: rotate(-90deg);
}

.painel {
    background-color: #e1f4f2;
    padding: 20px;
    border-radius: 15px;
    margin-top: 5px;
}

.lista-exercicio {
    list-style: none;
    padding: 0;
}

.lista-exercicio li {
    background-color: white;
    border: 1px solid #00646b;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.acesso-botao {
    background-color: #00646b;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}