@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Jersey+10&display=swap');

/* Código para estilização da fonte não pixelada da pagina (Usar nos textos que não são pixelados) */
.belleza-regular {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Código para estilização da fonte pixelada da pagina (Usar nos textos que são pixelados) */
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
}

header{
    margin-bottom: 5vh;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav a{
    text-decoration: none;
    color: black;
}

nav li{
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 5vh;
    list-style: none;
    font-size: 4vh;
    text-decoration: none;
}

nav li:hover{
    border-bottom: 1px solid #066172;
}

/* Classe que define a pagina atual que o usuário se encontra */
.menu{
    border-bottom: 1px solid #066172;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main h1 {
    text-align: center;
    font-family: "Belleza", sans-serif;
    font-size: 4vh;
}

.logo {
    width: 250px;
    height: auto;
    position: absolute;
    top: 2vh;
    right: 2vw;
}

.aprendizado {
    background-image: url("../img/background-tela-inicial.png");
    background-repeat: repeat-x;           
    background-size: auto 100%;            
    background-position: top left;         
    padding: 8vh 5vw;                       
    margin-bottom: 4vh;
    font-family: "Belleza", sans-serif;
    width: 100vw;                           
    box-sizing: border-box;
}

.aprendizado h2 {
    display: inline-block;
    background-color: #066172;
    color: white;
    padding: 1vh 2vw;
    border-radius: 20px;
    font-family: "Jersey 10", sans-serif;
    font-size: 2.5vh;
    margin-bottom: 1vh;
}

.aprendizado p {
    font-size: 2.3vh;
    margin-top: 1vh;
    margin-left: 2vw;
    color: black;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-bottom: 2.5vh;
    z-index: 1;
}

.sim, .nao {
    background-color: transparent;
    border: none;
    font-family: "Jersey 10", sans-serif;
    font-size: 2.5vh;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sim {
    background-color: #066172;
    color: white;
    padding: 1vh 3vw;
    border-radius: 20px;
}

.sim:hover {
    background-color: #044a56;
}

.nao {
    color: white;
    background-color: red;
    font-family: "Belleza", sans-serif;
    padding: 1vh 3vw;
    transition: all 0.2s ease;
    border-radius: 20px;
}

.nao:hover {
    text-decoration: underline;
}

footer {
    background-image: url("../img/footer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 45vh;
    max-height: none;
    display: flex;
    position: fixed;
    font-size: 2vh;
    left: 0;
    bottom: 0;
}

footer p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: white;
    text-align: center;
    z-index: 0;
}